<div class="row">
    <div class="col-10 p-5">
        <div class="row m-3 ms-0 me-0 rounded-3 ps-0 pe-0 border border-2 border-secondary">
            <div class="col-1 m-0 p-2 pe-3 text-end">
                <img src="~/Source/Searchicon.png" />
            </div>
            <input id="searchbox" class="col-10 rounded-2 me0 pe-0" placeholder="جستجو کنید" style="border:0" />
        </div>
        <div class="row mt-5 mb-4">
            <div class="col-2">
                <label class="h5"><b>مدیر</b></label>
            </div>
            <div class="col-8"></div>
            <div class="col-2">
                <img class="cursor" src="~/Source/AddAdmin.png" onclick="Addadminpageload()" />
            </div>
        </div>
        <div id="admintable">
            
        </div>
    </div>
    <div class="col-2">
    </div>
</div>