<table class="table">
    <thead>
        <tr>
            <th class="text-secondary" scope="col">عضو</th>
            <th class="text-secondary" scope="col">کتاب</th>
            <th class="text-secondary" scope="col">شماره عضو</th>
            <th class="text-secondary" scope="col">وضعیت امانتی</th>
            <th class="text-secondary" scope="col">اخطار پیامکی</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img class="float-end rounded-circle" style=" height:2rem" src="~/AdminPic/Me.jpg" />
                <label class="mt-1 me-2">مهدی دهقان</label>
            </td>
            <td>
                <img class="float-end rounded-3" style=" height:2rem" src="~/BookPic/BookPic.png" />
                <label class="mt-1 me-2">عادت های اتمی</label>
            </td>
            <td class="mt-1">09919229334</td>
            <td class="mt-1 p-1">
                <label class="rounded-4 p-1" style="background-color: rgba(48,77,48,0.25); color: #304D30">
                    معتبر ( 15 روز)
                </label>
            </td>
            <td class="pe-4">
                <img class="cursor" src="~/Source/SmsAlert.png" />
            </td>
            <td>
                <img class="cursor" src="~/Source/Edit.png" />
            </td>
            <td>
                <img class="cursor" src="~/Source/Accept.png" />
            </td>
        </tr>
    </tbody>
</table>