<div class="row">
     <div class="col-10 p-5">
         <div class="row m-3 ms-0 me-0 rounded-3 ps-0 pe-0 border border-2 border-secondary">
             <div class="col-1 m-0 p-2 pe-3 text-end"> 
                 <img src="~/Source/Searchicon.png" />
             </div>
             <input id="searchbox" class="col-10 rounded-2 me0 pe-0" placeholder="جستجو کنید" style="border:0" />
         </div>
         <div>
             <img class="w-100" src="~/Source/Amar.png"/>
         </div>
         <div>
             <table class="table">
                 <thead>
                     <tr>
                         <th class="text-secondary" scope="col">عضو</th>
                         <th class="text-secondary" scope="col">شماره</th>
                         <th class="text-secondary" scope="col">تعداد کتاب خوانده شده</th>
                         <th class="text-secondary" scope="col">آخرین کتاب خوانده شده</th>
                         <th class="text-secondary" scope="col">تاریخ عضویت</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <td>
                            <img class="float-end rounded-circle" style=" height:2rem" src="~/AdminPic/Me.jpg" />
                            <label class="mt-1 me-2">مهدی دهقان</label>
                         </td>
                         <td class="mt-1">09919229334</td>
                         <td class="mt-1">136</td>
                         <td class="mt-1">رویای جنگ</td>
                         <td class="mt-1">1395/05/06</td>
                     </tr>
                 </tbody>
             </table>
         </div>
     </div>
     <div class="col-2 ps-0">
         <div class="p-5 ps-0">
             <div class="m-3 mt-4 ms-0 me-0 ps-0 pe-0">
                 <label>12 اردیبهشت 1403</label>
             </div>
         </div>
         <div class="rounded-4" style="background-color:rgba(255,69,69,0.18); height:200px">
             <div class="p-3 pt-2">
                 <label class="h5" style="color: #EF4040">گذارش سایت</label>
             </div>
             <div class="p-2 text-center">
                 <div class="mb-3">
                     <label class="h6">&#x2022; <u>سایت آپدیت شد برای دیدن موارد آپدیت شده کلیک کنید</u></label>
                 </div>
                 <div class="mb-3">
                     <label class="h6">&#x2022; <u>باگ های گذارش شده درست شدند</u></label>
                 </div>
             </div>
         </div>
     </div>
</div>