<div>
    <label class="h5"><b>@ViewBag.serachof</b></label>
</div>
<div class="p-2 row">
    <div class="col-2">
        <img src="~/BookPic/BookPic.png" />
    </div>
    <div class="col-6 me-2">
        <label style="font-size:14px">عادت های اتمی</label>
        <label style="font-size:10px">جیمز کلیر</label>
    </div>
    <div class="col-2 mt-2">
        <label>136</label>
    </div>
</div>