<table class="table">
    <thead>
        <tr>
            <th class="text-secondary" scope="col">عضو</th>
            <th class="text-secondary" scope="col">شماره</th>
            <th class="text-secondary" scope="col">تعداد کتاب خوانده شده</th>
            <th class="text-secondary" scope="col">وضعیت عضویت</th>
            <th class="text-secondary" scope="col">تاریخ عضویت</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img class="float-end rounded-circle" style=" height:2rem" src="~/AdminPic/Me.jpg" />
                <label class="mt-1 me-2">مهدی دهقان</label>
            </td>
            <td class="mt-1">09919229334</td>
            <td class="mt-1">136</td>
            <td class="mt-1 p-1">
            <label class="rounded-4 p-1" style="background-color: rgba(48,77,48,0.25); color: #304D30">
                فعال(130روز)
            </label>
            </td>
            <td class="mt-1">1395/05/06</td>
            <td>
                <img class="cursor" src="~/Source/Edit.png" />
            </td>
            <td>
                <img class="cursor" src="~/Source/RemoveUsers.png" />
            </td>
        </tr>
    </tbody>
</table>